h1 {
  margin: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #131821;
}
p {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #6A707B;
}
body {
  position: relative;
  width: 375px;
  height: 812px;
  margin: 0;
  background: #FFFFFF;
}
#image {
  position: absolute;
  width: 375px;
  height: 746px;
  top: 66px;
  left: 0px;
  z-index: -1;
}
#base_img {
  position: absolute;
  width: 375px;
  height: 746px;
  top: 0px;
  left: 0px;
  background: #C4C4C4;
  z-index: -1;
}
#image_summer {
  background: url("../image_summer.png");
  object-position: -281px;
  object-fit: cover;
  position: absolute;
  width: 375px;
  height: 746px;
  top: 0px;
  left: 0px;
}
#top_bar {
  position: absolute;
  width: 375px;
  height: 66px;
  top: 0px;
  left: 0px;
  background: #FFFFFF;
}
#pnpl {
  position: absolute;
  width: 25px;
  height: 40px;
  top: 10px;
  left: 20px;
}
#pnpltxt {
  opacity: 0;
}
#about {
  position: absolute;
  width: 37px;
  height: 24px;
  top: 21px;
  left: 149px;
}
#how_it_works {
  position: absolute;
  width: 80px;
  height: 24px;
  top: 21px;
  left: 206px;
}
#contact {
  position: absolute;
  width: 49px;
  height: 24px;
  top: 21px;
  left: 306px;
}
#base {
  position: absolute;
  width: 335px;
  height: 371px;
  top: 254px;
  left: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}
#subscribe {
  position: absolute;
  width: 295px;
  height: 34px;
  top: 284px;
  left: 40px;
}
#sub2 {
  position: absolute;
  width: 295px;
  height: 52px;
  top: 328px;
  left: 40px;
}
#input {
  position: absolute;
  width: 295px;
  height: 60px;
  top: 400px;
  left: 40px;
}
#input:hover #type_email {
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  border-color: #4066A5;
}
#input:hover path {
  fill: #4066A5;
  opacity: 1;
}
#submit {
  position: absolute;
  width: 24px;
  height: 14px;
  top: 23px;
  left: 256px;
  opacity: 0;
  z-index: 1;
}
#input_base {
  position: absolute;
  width: 295px;
  height: 60px;
}
#email_line {
  position: absolute;
  border-left: 4px solid #4066A5;
  height: 60px;
  z-index: 1;
}
#arrow {
  position: absolute;
  width: 24px;
  height: 14px;
  top: 23px;
  left: 256px;
  color: #131821;
  opacity: 1;
}
input {
  padding: 0px;
  border: 0px;
  font-size: 16px;
  color: #6A707B;
}
#type_email {
  position: absolute;
  width: 227px;
  height: 24px;
  top: 0px;
  left: 0px;
  padding: 18px 49px 18px 19px;
  border: 1px solid #E3E3E4;
}
#type_email:focus {
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}
:focus {
  outline: none;
}
#checkbox-wrapper {
  position: absolute;
  left: 10px;
  top: 80px;
}
.checkmark {
  display: block;
  width: 26px;
  height: 26px;
  background-color: #FFF;
  border: 1px solid #E3E3E4;
  box-sizing: border-box;
  border-radius: 3px;
}
#check:checked ~ .checkmark {
  background-color: #4066A5;
  border-color: #4066A5;
}
.checkmark::after {
  content: url(../ic_checkmark.svg);
  position: absolute;
  left: 6px;
  top: 4px;
}
#tos {
  position: absolute;
  width: 254px;
  height: 28px;
  top: 480px;
  left: 81px;
}
#success {
  position: absolute;
  width: 44px;
  height: 70px;
  top: 284px;
  left: 40px;
  opacity: 0;
}
a:link,
a:visited {
  color: #131821;
}
a:hover {
  color: #4066A5;
}
a:active {
  color: #233759;
}
#hl {
  position: absolute;
  width: 295px;
  height: 1px;
  top: 528px;
  left: 40px;
  background: #E3E3E4;
}
i[class^='fab fa'] {
  position: absolute;
  color: #131821;
  opacity: 0.3;
}
#ff {
  left: 18px;
  top: 15px;
}
#inst {
  left: 16px;
  top: 15px;
}
#twit {
  left: 16px;
  top: 15px;
}
#yout {
  left: 14.5px;
  top: 14.5px;
}
#facebook {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 549px;
  left: 73px;
  box-sizing: border-box;
  border-radius: 23px;
}
#facebook:hover i {
  color: white;
  opacity: 1;
}
#facebook:hover .icon_circle {
  background: #4267B2;
  border-color: #4267B2;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}
#facebook:active .icon_circle {
  background: #2F4A80;
  border-color: #2F4A80;
}
#instagram {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 549px;
  left: 129px;
  box-sizing: border-box;
  border-radius: 23px;
}
#instagram:hover i {
  color: white;
  opacity: 1;
}
#instagram:hover .icon_circle {
  background: #C13584;
  border-color: #C13584;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}
#instagram:active .icon_circle {
  background: #8F2762;
  border-color: #8F2762;
}
#twitter {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 549px;
  left: 185px;
  box-sizing: border-box;
  border-radius: 23px;
}
#twitter:hover i {
  color: white;
  opacity: 1;
}
#twitter:hover .icon_circle {
  background: #1DA1F2;
  border-color: #1DA1F2;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}
#twitter:active .icon_circle {
  background: #177FBF;
  border-color: #177FBF;
}
#youtube {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 549px;
  left: 241px;
  box-sizing: border-box;
  border-radius: 23px;
}
#youtube:hover i {
  color: white;
  opacity: 1;
}
#youtube:hover .icon_circle {
  background: #FF0000;
  border-color: #FF0000;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}
#youtube:active .icon_circle {
  background: #CC0000;
  border-color: #CC0000;
}
.icon_circle {
  position: absolute;
  width: 46px;
  height: 46px;
  border: 1px solid #E3E3E4;
  box-sizing: border-box;
  border-radius: 23px;
}
#error_txt {
  position: absolute;
  left: 44px;
  top: 458px;
  color: red;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 44px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  body {
    width: 1920px;
    height: 1080px;
  }
  #image {
    width: 1240px;
    height: 1080px;
    top: 0px;
    left: 680px;
  }
  #base_img {
    width: 1240px;
    height: 1080px;
    top: 0px;
    left: 0px;
  }
  #image_summer {
    width: 1240px;
    height: 1080px;
    top: 0px;
    left: 0px;
    object-position: 0px;
    background-image: url("../image_summer.png");
  }
  #top_bar {
    width: 480px;
    height: 40px;
    top: 100px;
    left: 100px;
  }
  #pnpl {
    left: 0px;
    top: 0px;
  }
  #pnpltxt {
    opacity: 1;
    position: absolute;
    width: 78px;
    height: 16px;
    top: 20px;
    left: 40px;
  }
  #base {
    width: 680px;
    height: 1080px;
    top: 0px;
    left: 0px;
  }
  #about {
    width: 42px;
    height: 26px;
    top: 14px;
    left: 231px;
  }
  #how_it_works {
    width: 91px;
    height: 26px;
    top: 14px;
    left: 303px;
  }
  #contact {
    width: 56px;
    height: 26px;
    top: 14px;
    left: 424px;
  }
  #subscribe {
    width: 399px;
    height: 44px;
    top: 374px;
    left: 140px;
  }
  #sub2 {
    width: 400px;
    height: 56px;
    top: 433px;
    left: 140px;
  }
  #input {
    position: absolute;
    width: 663px;
    height: 70px;
    top: 539px;
    left: 100px;
  }
  #input:hover #type_email {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    border-color: #4066A5;
    color: #131821;
  }
  #input:hover path {
    fill: #4066A5;
    opacity: 1;
  }
  #input_base {
    position: absolute;
    width: 663px;
    height: 70px;
    top: 0px;
    left: 0px;
  }
  #type_email {
    width: 469px;
    height: 24px;
    top: 0px;
    left: 0px;
    padding: 22px 149px 22px 43px;
  }
  #type_email:focus {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  }
  #arrow {
    position: absolute;
    width: 24px;
    height: 14px;
    top: 28px;
    left: 599px;
  }
  #email_line {
    position: absolute;
    border-left: 4px solid #4066A5;
    height: 70px;
    z-index: 1;
  }
  #checkbox-wrapper {
    left: 40px;
    top: 124px;
  }
  #tos {
    width: 359px;
    height: 28px;
    top: 662px;
    left: 181px;
  }
  a:link,
  a:visited {
    color: #131821;
  }
  a:hover {
    color: #4066A5;
  }
  a:active {
    color: #233759;
  }
  #hl {
    width: 400px;
    height: 1px;
    top: 740px;
    left: 140px;
    background: #E3E3E4;
  }
  #facebook {
    width: 46px;
    height: 46px;
    top: 791px;
    left: 218px;
  }
  #instagram {
    width: 46px;
    height: 46px;
    top: 791px;
    left: 284px;
  }
  #twitter {
    width: 46px;
    height: 46px;
    top: 791px;
    left: 350px;
  }
  #youtube {
    width: 46px;
    height: 46px;
    top: 791px;
    left: 416px;
  }
  #submit {
    width: 24px;
    height: 14px;
    top: 28px;
    left: 599px;
  }
  #success {
    width: 44px;
    height: 70px;
    top: 269px;
    left: 140px;
  }
  #error_txt {
    left: 150px;
    top: 620px;
  }
}
